<%= render "form_search"%>

<div class="flickr_pagination">
		<%= will_paginate @pokemons, :container => false,  :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</div>

<div class="pokemon-container">
	<% @pokemons.each do |pokemon| %>
		<%= render "pokemon_card", pokemon: pokemon %>
	<% end %>
</div>

<div class="flickr_pagination">
	<%= will_paginate @pokemons, :container => false,  :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</div>